---
http_interactions:
- request:
    method: get
    uri: https://my.datacentred.io/api/projects/project_id1/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Version:
      - '1'
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"a49ddef61fd02a4859e54c61f0d506bb"
    body:
      encoding: UTF-8
      string: '{"users":[{"id":"06eacbafda355a927f50f304db3af132","email":"foo@bar.com","first_name":"Foo","last_name":"Bar","created_at":"2017-07-20T13:06:20Z","updated_at":"2017-07-20T13:06:20Z","links":[{"href":"https://my.datacentred.io/api/users/06eacbafda355a927f50f304db3af132","rel":"self"},{"href":"https://my.datacentred.io/api/schemas/user","rel":"schema"}]}]}'
  recorded_at: Tue, 05 Sep 2017 15:17:43 GMT
- request:
    method: put
    uri: https://my.datacentred.io/api/projects/project_id1/users/user_id
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Token token=e9d2d4cd37adf1634e2a65b9e18a8fcb:821fac118e7675f28fa42ab79ace57de
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Api-Version:
      - '1'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Sep 2017 15:17:43 GMT
- request:
    method: get
    uri: https://my.datacentred.io/api/projects/project_id1/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=e9d2d4cd37adf1634e2a65b9e18a8fcb:821fac118e7675f28fa42ab79ace57de
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Version:
      - '1'
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"89f589a53690f0175b3b8ee53ccdc4b0"
    body:
      encoding: UTF-8
      string: '{"users":[{"id":"user_id","email":"foo1@bar.com","first_name":"Foo1","last_name":"Bar","created_at":"2017-07-20T13:06:20Z","updated_at":"2017-07-20T13:06:20Z","links":[{"href":"https://my.datacentred.io/api/users/user_id","rel":"self"},{"href":"https://my.datacentred.io/api/schemas/user","rel":"schema"}]},{"id":"06eacbafda355a927f50f304db3af132","email":"foo@bar.com","first_name":"Foo","last_name":"Bar","created_at":"2017-07-20T13:06:20Z","updated_at":"2017-07-20T13:06:20Z","links":[{"href":"https://my.datacentred.io/api/users/06eacbafda355a927f50f304db3af132","rel":"self"},{"href":"https://my.datacentred.io/api/schemas/user","rel":"schema"}]}]}'
  recorded_at: Tue, 05 Sep 2017 15:17:43 GMT
recorded_with: VCR 2.8.0
