---
http_interactions:
- request:
    method: get
    uri: https://my.datacentred.io/api/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      X-Api-Version:
      - '1'
      Etag:
      - W/"ac2164f8e969a1a73bf71e14c57df2ea"
    body:
      encoding: UTF-8
      string: '{"projects":[{"id":"ed4431814d0a40dc8f10f5ac046267e9","name":"datacentred","created_at":"2015-03-09T17:58:18Z","updated_at":"2017-05-19T13:12:07Z","quota_set":{"compute":{"instances":100,"cores":200,"ram":512000},"volume":{"volumes":10,"snapshots":10,"gigabytes":10240},"network":{"floatingip":50,"router":10,"security_group_rule":100,"security_group":10,"network":10,"port":50,"subnet":10,"pool":10,"vip":12}},"links":[{"href":"https://my.datacentred.io/api/projects/ed4431814d0a40dc8f10f5ac046267e9","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/project","rel":"schema"}]},{"id":"f696f7db30e84fa4bc6713e024c0bb97","name":"ooo","created_at":"2016-03-14T15:19:53Z","updated_at":"2016-03-14T15:19:54Z","quota_set":{"compute":{"instances":10,"cores":10,"ram":20480},"volume":{"volumes":4,"snapshots":4,"gigabytes":40},"network":{"floatingip":1,"router":1,"security_group_rule":100,"security_group":10,"network":10,"port":10,"subnet":10,"pool":10,"vip":10}},"links":[{"href":"https://my.datace[...]
- request:
    method: post
    uri: https://my.datacentred.io/api/users
    body:
      encoding: UTF-8
      string: '{"user":{"email":"foo@barbazboom.com","password":"3eba71bf5c5aab75673840dca073af02"}}'
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      X-Api-Version:
      - '1'
      Etag:
      - W/"7e8cda4da7051971030655e1daaed45d"
    body:
      encoding: UTF-8
      string: '{"user":{"id":"026a928d511d498bb8e28e2d3bc699f9","email":"foo@barbazboom.com","first_name":null,"last_name":null,"created_at":"2017-09-20T19:56:28Z","updated_at":"2017-09-20T19:56:28Z","links":[{"href":"https://my.datacentred.io/api/users/026a928d511d498bb8e28e2d3bc699f9","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/user","rel":"schema"}]}}'
  recorded_at: Wed, 20 Sep 2017 19:56:31 GMT
- request:
    method: get
    uri: https://my.datacentred.io/api/projects/ed4431814d0a40dc8f10f5ac046267e9/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      X-Api-Version:
      - '1'
      Etag:
      - W/"1626feb900ec17ed44900fc7a8d6b82a"
    body:
      encoding: UTF-8
      string: '{"users":[{"id":"69a34c127dcb439fa9366762234687ac","email":"sean.handley@datacentred.co.uk","first_name":"Sean","last_name":"Handley","created_at":"2014-08-22T14:32:31Z","updated_at":"2017-09-20T19:51:43Z","links":[{"href":"https://my.datacentred.io/api/users/69a34c127dcb439fa9366762234687ac","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/user","rel":"schema"}]},{"id":"d1a60c7b4bbc427e8f2c3f99d0c2e6d2","email":"nick.jones@datacentred.co.uk","first_name":"Nick","last_name":"Jones","create[...]
- request:
    method: put
    uri: https://my.datacentred.io/api/projects/ed4431814d0a40dc8f10f5ac046267e9/users/026a928d511d498bb8e28e2d3bc699f9
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Api-Version:
      - '1'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 20 Sep 2017 19:56:32 GMT
[...]
