---
http_interactions:
- request:
    method: post
    uri: https://my.datacentred.io/api/roles
    body:
      encoding: UTF-8
      string: '{"role":{"name":"New Role"}}'
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Api-Version:
      - '1'
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"3b9b0331bd0342e07befc2763cc250a7"
    body:
      encoding: UTF-8
      string: '{"role":{"id":"46b76828-2e99-41fa-b935-668b14d2c850","name":"New Role","admin":false,"permissions":[],"created_at":"2017-09-06T09:25:46Z","updated_at":"2017-09-06T09:25:46Z","links":[{"href":"https://my.datacentred.io/api/roles/46b76828-2e99-41fa-b935-668b14d2c850","rel":"self"},{"href":"https://my.datacentred.io/api/schemas/role","rel":"schema"}]}}'
  recorded_at: Wed, 06 Sep 2017 09:25:46 GMT
- request:
    method: get
    uri: https://my.datacentred.io/api/roles/46b76828-2e99-41fa-b935-668b14d2c850/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=e9d2d4cd37adf1634e2a65b9e18a8fcb:821fac118e7675f28fa42ab79ace57de
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Version:
      - '1'
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"adac7b84dc3b7394d8385aa0c65fe27a"
    body:
      encoding: UTF-8
      string: '{"users":[]}'
  recorded_at: Wed, 06 Sep 2017 09:25:46 GMT
- request:
    method: put
    uri: https://my.datacentred.io/api/roles/46b76828-2e99-41fa-b935-668b14d2c850/users/06eacbafda355a927f50f304db3af132
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Token token=e9d2d4cd37adf1634e2a65b9e18a8fcb:821fac118e7675f28fa42ab79ace57de
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Api-Version:
      - '1'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 06 Sep 2017 09:25:47 GMT
- request:
    method: get
    uri: https://my.datacentred.io/api/roles/46b76828-2e99-41fa-b935-668b14d2c850/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=e9d2d4cd37adf1634e2a65b9e18a8fcb:821fac118e7675f28fa42ab79ace57de
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Version:
      - '1'
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"a49ddef61fd02a4859e54c61f0d506bb"
    body:
      encoding: UTF-8
      string: '{"users":[{"id":"06eacbafda355a927f50f304db3af132","email":"eugenia.grieff@datacentred.co.uk","first_name":"Eugenia","last_name":"Grieff","created_at":"2017-07-20T13:06:20Z","updated_at":"2017-07-20T13:06:20Z","links":[{"href":"https://my.datacentred.io/api/users/06eacbafda355a927f50f304db3af132","rel":"self"},{"href":"https://my.datacentred.io/api/schemas/user","rel":"schema"}]}]}'
  recorded_at: Wed, 06 Sep 2017 09:25:47 GMT
recorded_with: VCR 2.8.0
