---
http_interactions:
- request:
    method: post
    uri: https://my.datacentred.io/api/roles
    body:
      encoding: UTF-8
      string: '{"role":{"name":"New Role"}}'
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      X-Api-Version:
      - '1'
      Etag:
      - W/"ca9ae6a8b6ee6afd159e8e8c914221f7"
    body:
      encoding: UTF-8
      string: '{"role":{"id":"72f164b8-67fb-4138-83d6-b6c9fbb2a47c","name":"New Role","admin":false,"permissions":[],"created_at":"2017-09-20T11:05:22Z","updated_at":"2017-09-20T11:05:22Z","links":[{"href":"https://my.datacentred.io/api/roles/72f164b8-67fb-4138-83d6-b6c9fbb2a47c","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/role","rel":"schema"}]}}'
  recorded_at: Wed, 20 Sep 2017 11:05:22 GMT
- request:
    method: get
    uri: https://my.datacentred.io/api/roles/72f164b8-67fb-4138-83d6-b6c9fbb2a47c/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      X-Api-Version:
      - '1'
      Etag:
      - W/"adac7b84dc3b7394d8385aa0c65fe27a"
    body:
      encoding: UTF-8
      string: '{"users":[]}'
  recorded_at: Wed, 20 Sep 2017 11:05:22 GMT
- request:
    method: get
    uri: https://my.datacentred.io/api/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      X-Api-Version:
      - '1'
      Etag:
      - W/"ca98d0838716cf06407b61cda61a413e"
    body:
      encoding: UTF-8
      string: '{"users":[{"id":"69a34c127dcb439fa9366762234687ac","email":"sean.handley@datacentred.co.uk","first_name":"Sean","last_name":"Handley","created_at":"2014-08-22T14:32:31Z","updated_at":"2017-09-20T10:49:50Z","links":[{"href":"https://my.datacentred.io/api/users/69a34c127dcb439fa9366762234687ac","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/user","rel":"schema"}]},{"id":"d1a60c7b4bbc427e8f2c3f99d0c2e6d2","email":"nick.jones@datacentred.co.uk","first_name":"Nick","last_name":"Jones","created_at":"2014-09-18T15:35:58Z","updated_at":"2017-09-19T12:34:16Z","links":[{"href":"https://my.datacentred.io/api/us[...]
- request:
    method: put
    uri: https://my.datacentred.io/api/roles/72f164b8-67fb-4138-83d6-b6c9fbb2a47c/users/69a34c127dcb439fa9366762234687ac
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Api-Version:
      - '1'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 20 Sep 2017 11:05:23 GMT
- request:
    method: get
    uri: https://my.datacentred.io/api/roles/72f164b8-67fb-4138-83d6-b6c9fbb2a47c/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      X-Api-Version:
      - '1'
      Etag:
      - W/"63ed5b2918b314e06c7593bea3d8b230"
    body:
      encoding: UTF-8
      string: '{"users":[{"id":"69a34c127dcb439fa9366762234687ac","email":"sean.handley@datacentred.co.uk","first_name":"Sean","last_name":"Handley","created_at":"2014-08-22T14:32:31Z","updated_at":"2017-09-20T10:49:50Z","links":[{"href":"https://my.datacentred.io/api/users/69a34c127dcb439fa9366762234687ac","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/user","rel":"schema"}]}]}'
  recorded_at: Wed, 20 Sep 2017 11:05:23 GMT
recorded_with: VCR 2.9.3
