---
http_interactions:
- request:
    method: post
    uri: https://my.datacentred.io/api/roles
    body:
      encoding: UTF-8
      string: '{"role":{"name":"Genghis Khan","permissions":["fighting"]}}'
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      X-Api-Version:
      - '1'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":[{"resource":"role","detail":"Role permissions must be one
        of: ''access requests.raise for others'', ''access requests.raise for self'',
        ''api.read'', ''cloud.read'', ''roles.modify'', ''roles.read'', ''storage.read'',
        ''tickets.modify'', ''usage.read''. ''fighting'' is not allowed.","field":"permissions"}],"links":[{"href":"https://my.datacentred.io/api","rel":"help"}]}'
  recorded_at: Tue, 05 Sep 2017 15:30:53 GMT
recorded_with: VCR 2.8.0
