---
http_interactions:
- request:
    method: post
    uri: https://my.datacentred.io/api/roles
    body:
      encoding: UTF-8
      string: '{"role":{"name":"New Role"}}'
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Api-Version:
      - '1'
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"7626678cc07b1ae3b09aa70d3180de56"
    body:
      encoding: UTF-8
      string: '{"role":{"id":"b172c64b-3b52-4d1f-ac84-a20e7c7cf07a","name":"New Role","admin":false,"permissions":[],"created_at":"2017-09-05T15:30:21Z","updated_at":"2017-09-05T15:30:21Z","links":[{"href":"https://my.datacentred.io/api/roles/b172c64b-3b52-4d1f-ac84-a20e7c7cf07a","rel":"self"},{"href":"https://my.datacentred.io/api/schemas/role","rel":"schema"}]}}'
  recorded_at: Tue, 05 Sep 2017 15:30:21 GMT
recorded_with: VCR 2.8.0
