---
http_interactions:
- request:
    method: post
    uri: https://my.datacentred.io/api/projects
    body:
      encoding: UTF-8
      string: '{"project":{"name":"test_new_project"}}'
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      X-Api-Version:
      - '1'
      Etag:
      - W/"bcf2e37842911b0835ebdbd785272265"
    body:
      encoding: UTF-8
      string: '{"project":{"id":"37ebf1100ef64599bdfc3f19b913d82c","name":"test_new_project","created_at":"2017-08-29T15:30:20Z","updated_at":"2017-08-29T15:30:20Z","quota_set":{"compute":{"instances":5,"cores":5,"ram":10240},"volume":{"volumes":4,"snapshots":4,"gigabytes":40},"network":{"floatingip":1,"router":1,"security_group_rule":100,"security_group":10,"network":10,"port":10,"subnet":10,"pool":10,"vip":10}},"links":[{"href":"https://my.datacentred.io/api/projects/37ebf1100ef64599bdfc3f19b913d82c","rel":"self"},{"href":"https://my.datacentred.io/api/schemas/project","rel":"schema"}]}}'
  recorded_at: Tue, 29 Aug 2017 15:30:20 GMT
recorded_with: VCR 2.8.0
