---
http_interactions:
- request:
    method: post
    uri: https://my.datacentred.io/api/users
    body:
      encoding: UTF-8
      string: '{"user":{"email":"death@afterlife.com","password":"melvin11","first_name":"Foo","last_name":"Bar"}}'
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Api-Version:
      - '1'
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"e9c6b91f64295188613937075fc50980"
    body:
      encoding: UTF-8
      string: '{"user":{"id":"7d44860f4ace4fb8b63b622f6d5cdc43","email":"death@afterlife.com","first_name":"Foo","last_name":"Bar","created_at":"2017-09-05T18:39:07Z","updated_at":"2017-09-05T18:39:07Z","links":[{"href":"https://my.datacentred.io/api/users/7d44860f4ace4fb8b63b622f6d5cdc43","rel":"self"},{"href":"https://my.datacentred.io/api/schemas/user","rel":"schema"}]}}'
  recorded_at: Tue, 05 Sep 2017 18:39:09 GMT
recorded_with: VCR 2.8.0
