---
http_interactions:
- request:
    method: post
    uri: https://my.datacentred.io/api/roles
    body:
      encoding: UTF-8
      string: '{"role":{"name":"New Role"}}'
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Api-Version:
      - '1'
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"3d9d7b9b0d051504bae9bef4a082ee70"
    body:
      encoding: UTF-8
      string: '{"role":{"id":"2145d700-906e-453f-a10c-0d2c74b77ca3","name":"New Role","admin":false,"permissions":[],"created_at":"2017-09-05T15:37:22Z","updated_at":"2017-09-05T15:37:22Z","links":[{"href":"https://my.datacentred.io/api/roles/2145d700-906e-453f-a10c-0d2c74b77ca3","rel":"self"},{"href":"https://my.datacentred.io/api/schemas/role","rel":"schema"}]}}'
  recorded_at: Tue, 05 Sep 2017 15:37:22 GMT
- request:
    method: get
    uri: https://my.datacentred.io/api/roles/2145d700-906e-453f-a10c-0d2c74b77ca3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=e9d2d4cd37adf1634e2a65b9e18a8fcb:821fac118e7675f28fa42ab79ace57de
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Version:
      - '1'
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"3d9d7b9b0d051504bae9bef4a082ee70"
    body:
      encoding: UTF-8
      string: '{"role":{"id":"2145d700-906e-453f-a10c-0d2c74b77ca3","name":"New Role","admin":false,"permissions":[],"created_at":"2017-09-05T15:37:22Z","updated_at":"2017-09-05T15:37:22Z","links":[{"href":"https://my.datacentred.io/api/roles/2145d700-906e-453f-a10c-0d2c74b77ca3","rel":"self"},{"href":"https://my.datacentred.io/api/schemas/role","rel":"schema"}]}}'
  recorded_at: Tue, 05 Sep 2017 15:37:23 GMT
[...]
- request:
    method: get
    uri: https://my.datacentred.io/api/roles/2145d700-906e-453f-a10c-0d2c74b77ca3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=e9d2d4cd37adf1634e2a65b9e18a8fcb:821fac118e7675f28fa42ab79ace57de
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Api-Version:
      - '1'
      Content-Type:
      - application/vnd.datacentred.api+json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Sep 2017 15:37:23 GMT
recorded_with: VCR 2.8.0
