---
http_interactions:
- request:
    method: post
    uri: https://my.datacentred.io/api/users
    body:
      encoding: UTF-8
      string: '{"user":{"email":"death@afterlife.com","password":"melvin11","first_name":"Foo","last_name":"Bar"}}'
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Api-Version:
      - '1'
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"1eb58dc07fce8b495b7aecad1f884e0f"
    body:
      encoding: UTF-8
      string: '{"user":{"id":"6c2fbda5f5964b3a80f9ed0fafe558ef","email":"death@afterlife.com","first_name":"Foo","last_name":"Bar","created_at":"2017-09-05T18:44:12Z","updated_at":"2017-09-05T18:44:12Z","links":[{"href":"https://my.datacentred.io/api/users/6c2fbda5f5964b3a80f9ed0fafe558ef","rel":"self"},{"href":"https://my.datacentred.io/api/schemas/user","rel":"schema"}]}}'
  recorded_at: Tue, 05 Sep 2017 18:44:14 GMT
- request:
    method: delete
    uri: https://my.datacentred.io/api/users/6c2fbda5f5964b3a80f9ed0fafe558ef
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=e9d2d4cd37adf1634e2a65b9e18a8fcb:821fac118e7675f28fa42ab79ace57de
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Api-Version:
      - '1'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Sep 2017 18:44:14 GMT
- request:
    method: get
    uri: https://my.datacentred.io/api/users/6c2fbda5f5964b3a80f9ed0fafe558ef
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=e9d2d4cd37adf1634e2a65b9e18a8fcb:821fac118e7675f28fa42ab79ace57de
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Api-Version:
      - '1'
      Content-Type:
      - application/vnd.datacentred.api+json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Sep 2017 18:44:14 GMT
recorded_with: VCR 2.8.0
