---
http_interactions:
- request:
    method: post
    uri: https://my.datacentred.io/api/projects
    body:
      encoding: UTF-8
      string: '{"project":{"name":"ac2154083c9dffebc80aec0484cfd9f7"}}'
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      X-Api-Version:
      - '1'
      Etag:
      - W/"fa4e96d262145b493e2203ca3b1223ad"
    body:
      encoding: UTF-8
      string: '{"project":{"id":"309a2a642f9e4b52ae2c704e82366a76","name":"ac2154083c9dffebc80aec0484cfd9f7","created_at":"2017-09-20T19:38:35Z","updated_at":"2017-09-20T19:38:35Z","quota_set":{"compute":{"instances":5,"cores":5,"ram":10240},"volume":{"volumes":4,"snapshots":4,"gigabytes":40},"network":{"floatingip":1,"router":1,"security_group_rule":100,"security_group":10,"network":10,"port":10,"subnet":10,"pool":10,"vip":10}},"links":[{"href":"https://my.datacentred.io/api/projects/309a2a642f9e4b52ae2c704e82366a76","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/project","rel":"schema"}]}}'
  recorded_at: Wed, 20 Sep 2017 19:38:36 GMT
- request:
    method: delete
    uri: https://my.datacentred.io/api/projects/309a2a642f9e4b52ae2c704e82366a76
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Api-Version:
      - '1'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 20 Sep 2017 19:38:54 GMT
- request:
    method: get
    uri: https://my.datacentred.io/api/projects/project_id2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json
      X-Api-Version:
      - '1'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 20 Sep 2017 19:38:54 GMT
recorded_with: VCR 2.9.3
