---
http_interactions:
- request:
    method: post
    uri: https://my.datacentred.io/api/roles
    body:
      encoding: UTF-8
      string: '{"role":{"name":"New Role"}}'
    headers:
      Authorization:
      - Token Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Api-Version:
      - '1'
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"321268a2f6e13ccb77f4e5bf315bb628"
    body:
      encoding: UTF-8
      string: '{"role":{"id":"7bd62444-cf29-497f-a84d-ca217c090602","name":"New Role","admin":false,"permissions":[],"created_at":"2017-09-05T15:29:52Z","updated_at":"2017-09-05T15:29:52Z","links":[{"href":"https://my.datacentred.io/api/roles/7bd62444-cf29-497f-a84d-ca217c090602","rel":"self"},{"href":"https://my.datacentred.io/api/schemas/role","rel":"schema"}]}}'
  recorded_at: Tue, 05 Sep 2017 15:29:52 GMT
- request:
    method: get
    uri: https://my.datacentred.io/api/roles/7bd62444-cf29-497f-a84d-ca217c090602
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=e9d2d4cd37adf1634e2a65b9e18a8fcb:821fac118e7675f28fa42ab79ace57de
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Version:
      - '1'
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"321268a2f6e13ccb77f4e5bf315bb628"
    body:
      encoding: UTF-8
      string: '{"role":{"id":"7bd62444-cf29-497f-a84d-ca217c090602","name":"New Role","admin":false,"permissions":[],"created_at":"2017-09-05T15:29:52Z","updated_at":"2017-09-05T15:29:52Z","links":[{"href":"https://my.datacentred.io/api/roles/7bd62444-cf29-497f-a84d-ca217c090602","rel":"self"},{"href":"https://my.datacentred.io/api/schemas/role","rel":"schema"}]}}'
  recorded_at: Tue, 05 Sep 2017 15:29:53 GMT
recorded_with: VCR 2.8.0
