---
http_interactions:
- request:
    method: get
    uri: https://my.datacentred.io/api/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      X-Api-Version:
      - '1'
      Etag:
      - W/"2dde9ca2e7b4f4d5279f38ceb312691e"
    body:
      encoding: UTF-8
      string: '{"users":[{"id":"bda96ae2c89347d5a059d663c153ec2a","email":"eugeniagrieff@gmail.com","first_name":"Eugenia","last_name":"Grieff","created_at":"2016-02-25T17:01:20Z","updated_at":"2017-08-30T13:55:43Z","links":[{"href":"https://my.datacentred.io/api/users/bda96ae2c89347d5a059d663c153ec2a","rel":"self"},{"href":"https://my.datacentred.io/api/schemas/user","rel":"schema"}]},{"id":"user_id","email":"megrieff@gmail.com","first_name":"Eugenia","last_name":"Grieff","created_at":"2017-05-23T08:36:23Z","updated_at":"2017-08-08T11:54:48Z","links":[{"href":"https://my.datacentred.io/api/users/user_id","rel":"self"},{"href":"https://my.datacentred.io/api/schemas/user","rel":"schema"}]}]}'
  recorded_at: Wed, 30 Aug 2017 14:28:20 GMT
recorded_with: VCR 2.8.0
