---
http_interactions:
- request:
    method: post
    uri: https://my.datacentred.io/api/roles
    body:
      encoding: UTF-8
      string: '{"role":{"name":"New Role"}}'
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Api-Version:
      - '1'
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"3a5a073ed2a2d64d7f49fc08a7b2569f"
    body:
      encoding: UTF-8
      string: '{"role":{"id":"2e20d69a-a239-431f-853a-332aa3df75ed","name":"New Role","admin":false,"permissions":[],"created_at":"2017-09-05T16:45:05Z","updated_at":"2017-09-05T16:45:05Z","links":[{"href":"https://my.datacentred.io/api/roles/2e20d69a-a239-431f-853a-332aa3df75ed","rel":"self"},{"href":"https://my.datacentred.io/api/schemas/role","rel":"schema"}]}}'
  recorded_at: Tue, 05 Sep 2017 16:45:05 GMT
- request:
    method: get
    uri: https://my.datacentred.io/api/roles/2e20d69a-a239-431f-853a-332aa3df75ed/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=e9d2d4cd37adf1634e2a65b9e18a8fcb:821fac118e7675f28fa42ab79ace57de
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Version:
      - '1'
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"adac7b84dc3b7394d8385aa0c65fe27a"
    body:
      encoding: UTF-8
      string: '{"users":[]}'
  recorded_at: Tue, 05 Sep 2017 16:45:05 GMT
recorded_with: VCR 2.8.0
