---
http_interactions:
- request:
    method: get
    uri: https://my.datacentred.io/api/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Version:
      - '1'
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"755f40d68d204c63a29d2ec6646fc8d0"
    body:
      encoding: UTF-8
      string: '{"roles":[{"id":"f3ca469d-c491-4efc-baa2-753697dd6e5e","name":"Administrator","admin":true,"permissions":["roles.read","roles.modify","tickets.modify"],"created_at":"2017-07-20T13:06:19Z","updated_at":"2017-07-20T13:06:19Z","links":[{"href":"https://my.datacentred.io/api/roles/f3ca469d-c491-4efc-baa2-753697dd6e5e","rel":"self"},{"href":"https://my.datacentred.io/api/schemas/role","rel":"schema"}]},{"id":"880917ae-21ed-4202-b3a0-256eda42542f","name":"Foo","admin":false,"permissions":["cloud.read","storage.read","api.read","roles.read"],"created_at":"2017-08-08T08:43:32Z","updated_at":"2017-08-08T08:44:10Z","links":[{"href":"https://my.datacentred.io/api/roles/880917ae-21ed-4202-b3a0-256eda42542f","rel":"self"},{"href":"https://my.datacentred.io/api/schemas/role","rel":"schema"}]}]}'
  recorded_at: Mon, 04 Sep 2017 08:48:17 GMT
recorded_with: VCR 2.8.0
