---
http_interactions:
- request:
    method: post
    uri: https://my.datacentred.io/api/projects
    body:
      encoding: UTF-8
      string: '{"project":{"name":"618feafc9d665f3570b55f2f39fc5bdc"}}'
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      X-Api-Version:
      - '1'
      Etag:
      - W/"f46ed86c10bcb5d0c4a1bddde4729231"
    body:
      encoding: UTF-8
      string: '{"project":{"id":"8b8975b29cf7485384faa33e3d103b27","name":"618feafc9d665f3570b55f2f39fc5bdc","created_at":"2017-09-20T19:45:46Z","updated_at":"2017-09-20T19:45:46Z","quota_set":{"compute":{"instances":5,"cores":5,"ram":10240},"volume":{"volumes":4,"snapshots":4,"gigabytes":40},"network":{"floatingip":1,"router":1,"security_group_rule":100,"security_group":10,"network":10,"port":10,"subnet":10,"pool":10,"vip":10}},"links":[{"href":"https://my.datacentred.io/api/projects/8b8975b29cf7485384faa33e3d103b27","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/project","rel":"schema"}]}}'
  recorded_at: Wed, 20 Sep 2017 19:45:47 GMT
- request:
    method: get
    uri: https://my.datacentred.io/api/projects/8b8975b29cf7485384faa33e3d103b27/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      X-Api-Version:
      - '1'
      Etag:
      - W/"adac7b84dc3b7394d8385aa0c65fe27a"
    body:
      encoding: UTF-8
      string: '{"users":[]}'
  recorded_at: Wed, 20 Sep 2017 19:45:47 GMT
recorded_with: VCR 2.9.3
