---
http_interactions:
- request:
    method: get
    uri: https://my.datacentred.io/api/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 'Token token=:'
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Api-Version:
      - '1'
      Www-Authenticate:
      - Token realm="DataCentred"
    body:
      encoding: UTF-8
      string: '{"errors":[{"detail":"Token authentication failed. Invalid credentials
        or API access is not authorized."}],"links":[{"href":"https://my.datacentred.io/api","rel":"help"}]}'
  recorded_at: Fri, 15 Sep 2017 09:53:41 GMT
recorded_with: VCR 2.9.3
