---
http_interactions:
- request:
    method: post
    uri: https://my.datacentred.io/api/projects
    body:
      encoding: UTF-8
      string: '{"project":{"name":"test_new_project"}}'
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Api-Version:
      - '1'
    body:
      encoding: UTF-8
      string: '{"errors":[{"resource":"project","detail":"Project name is already
        in use.","field":"name"},{"resource":"project","detail":"This account''s limits
        only permit 2 projects."}],"links":[{"href":"https://my.datacentred.io/api","rel":"help"}]}'
  recorded_at: Wed, 30 Aug 2017 09:53:48 GMT
recorded_with: VCR 2.8.0
