---
http_interactions:
- request:
    method: post
    uri: https://my.datacentred.io/api/roles
    body:
      encoding: UTF-8
      string: '{"role":{"name":"New Role"}}'
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Api-Version:
      - '1'
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"b0c5f9b8af2bb8a318f7e5653fe71359"
    body:
      encoding: UTF-8
      string: '{"role":{"id":"74aab3e2-4d08-4875-8522-244c2261717d","name":"New Role","admin":false,"permissions":[],"created_at":"2017-09-06T09:31:45Z","updated_at":"2017-09-06T09:31:45Z","links":[{"href":"https://my.datacentred.io/api/roles/74aab3e2-4d08-4875-8522-244c2261717d","rel":"self"},{"href":"https://my.datacentred.io/api/schemas/role","rel":"schema"}]}}'
  recorded_at: Wed, 06 Sep 2017 09:31:45 GMT
- request:
    method: put
    uri: https://my.datacentred.io/api/roles/74aab3e2-4d08-4875-8522-244c2261717d/users/06eacbafda355a927f50f304db3af132
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Token token=e9d2d4cd37adf1634e2a65b9e18a8fcb:821fac118e7675f28fa42ab79ace57de
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Api-Version:
      - '1'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 06 Sep 2017 09:31:45 GMT
- request:
    method: get
    uri: https://my.datacentred.io/api/roles/74aab3e2-4d08-4875-8522-244c2261717d/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=e9d2d4cd37adf1634e2a65b9e18a8fcb:821fac118e7675f28fa42ab79ace57de
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Version:
      - '1'
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"a49ddef61fd02a4859e54c61f0d506bb"
    body:
      encoding: UTF-8
      string: '{"users":[{"id":"06eacbafda355a927f50f304db3af132","email":"eugenia.grieff@datacentred.co.uk","first_name":"Eugenia","last_name":"Grieff","created_at":"2017-07-20T13:06:20Z","updated_at":"2017-07-20T13:06:20Z","links":[{"href":"https://my.datacentred.io/api/users/06eacbafda355a927f50f304db3af132","rel":"self"},{"href":"https://my.datacentred.io/api/schemas/user","rel":"schema"}]}]}'
  recorded_at: Wed, 06 Sep 2017 09:31:45 GMT
[...]
- request:
    method: get
    uri: https://my.datacentred.io/api/roles/74aab3e2-4d08-4875-8522-244c2261717d/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=e9d2d4cd37adf1634e2a65b9e18a8fcb:821fac118e7675f28fa42ab79ace57de
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Version:
      - '1'
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"adac7b84dc3b7394d8385aa0c65fe27a"
    body:
      encoding: UTF-8
      string: '{"users":[]}'
  recorded_at: Wed, 06 Sep 2017 09:31:46 GMT
recorded_with: VCR 2.8.0
