---
http_interactions:
- request:
    method: post
    uri: https://my.datacentred.io/api/roles
    body:
      encoding: UTF-8
      string: '{"role":{"name":"New Role"}}'
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Api-Version:
      - '1'
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"ae495ada4adecb5a44d3aee493291c12"
    body:
      encoding: UTF-8
      string: '{"role":{"id":"fbe70b79-775c-4368-b451-da2a4905ba21","name":"New Role","admin":false,"permissions":[],"created_at":"2017-09-06T09:36:18Z","updated_at":"2017-09-06T09:36:18Z","links":[{"href":"https://my.datacentred.io/api/roles/fbe70b79-775c-4368-b451-da2a4905ba21","rel":"self"},{"href":"https://my.datacentred.io/api/schemas/role","rel":"schema"}]}}'
  recorded_at: Wed, 06 Sep 2017 09:36:18 GMT
- request:
    method: delete
    uri: https://my.datacentred.io/api/roles/fbe70b79-775c-4368-b451-da2a4905ba21/users/unknown
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=e9d2d4cd37adf1634e2a65b9e18a8fcb:821fac118e7675f28fa42ab79ace57de
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Api-Version:
      - '1'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":[{"detail":"No such user ''unknown''"}],"links":[{"href":"https://my.datacentred.io/api","rel":"help"}]}'
  recorded_at: Wed, 06 Sep 2017 09:36:19 GMT
recorded_with: VCR 2.8.0
