---
http_interactions:
- request:
    method: get
    uri: https://my.datacentred.io/api
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Version:
      - '1'
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"c412e4e0acf3d617e7774edb0fe82c87"
    body:
      encoding: UTF-8
      string: '{"versions":[{"id":"1","status":"CURRENT","links":[{"href":"https://my.datacentred.io/api","rel":"self"}]}]}'
  recorded_at: Wed, 06 Sep 2017 09:01:36 GMT
recorded_with: VCR 2.8.0
