---
http_interactions:
- request:
    method: post
    uri: https://my.datacentred.io/api/users
    body:
      encoding: UTF-8
      string: '{"user":{"email":"death@afterlife.com","password":"melvin11","first_name":"Foo","last_name":"Bar"}}'
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Api-Version:
      - '1'
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"77470e294fa860e142229fc3d6c148b1"
    body:
      encoding: UTF-8
      string: '{"user":{"id":"1baca4d531ee475fa083c713e1b617c5","email":"death@afterlife.com","first_name":"Foo","last_name":"Bar","created_at":"2017-09-05T18:37:56Z","updated_at":"2017-09-05T18:37:56Z","links":[{"href":"https://my.datacentred.io/api/users/1baca4d531ee475fa083c713e1b617c5","rel":"self"},{"href":"https://my.datacentred.io/api/schemas/user","rel":"schema"}]}}'
  recorded_at: Tue, 05 Sep 2017 18:37:58 GMT
- request:
    method: get
    uri: https://my.datacentred.io/api/users/1baca4d531ee475fa083c713e1b617c5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Version:
      - '1'
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"77470e294fa860e142229fc3d6c148b1"
    body:
      encoding: UTF-8
      string: '{"user":{"id":"1baca4d531ee475fa083c713e1b617c5","email":"death@afterlife.com","first_name":"Foo","last_name":"Bar","created_at":"2017-09-05T18:37:56Z","updated_at":"2017-09-05T18:37:56Z","links":[{"href":"https://my.datacentred.io/api/users/1baca4d531ee475fa083c713e1b617c5","rel":"self"},{"href":"https://my.datacentred.io/api/schemas/user","rel":"schema"}]}}'
  recorded_at: Tue, 05 Sep 2017 18:37:58 GMT
recorded_with: VCR 2.8.0
