---
http_interactions:
- request:
    method: post
    uri: https://my.datacentred.io/api/users
    body:
      encoding: UTF-8
      string: '{"user":{"email":"death2@afterlife.com","password":"melvin11","first_name":"Foo","last_name":"Bar"}}'
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      X-Api-Version:
      - '1'
      Etag:
      - W/"ee89193e03d4673c5b17d3b508fa9740"
    body:
      encoding: UTF-8
      string: '{"user":{"id":"2fcf192f85d342118894698d12ec753c","email":"death2@afterlife.com","first_name":"Foo","last_name":"Bar","created_at":"2017-09-20T15:26:16Z","updated_at":"2017-09-20T15:26:16Z","links":[{"href":"https://my.datacentred.io/api/users/2fcf192f85d342118894698d12ec753c","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/user","rel":"schema"}]}}'
  recorded_at: Wed, 20 Sep 2017 15:26:19 GMT
- request:
    method: put
    uri: https://my.datacentred.io/api/users/2fcf192f85d342118894698d12ec753c
    body:
      encoding: UTF-8
      string: '{"user":{"id":"2fcf192f85d342118894698d12ec753c","email":"death2@afterlife.com","first_name":"Foo2","last_name":"Bar","created_at":"2017-09-20
        15:26:16 UTC","updated_at":"2017-09-20 15:26:16 UTC"}}'
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      X-Api-Version:
      - '1'
      Etag:
      - W/"99a0d95ea92bad583d9da0d6396ea2cd"
    body:
      encoding: UTF-8
      string: '{"user":{"id":"2fcf192f85d342118894698d12ec753c","email":"death2@afterlife.com","first_name":"Foo2","last_name":"Bar","created_at":"2017-09-20T15:26:16Z","updated_at":"2017-09-20T15:26:19Z","links":[{"href":"https://my.datacentred.io/api/users/2fcf192f85d342118894698d12ec753c","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/user","rel":"schema"}]}}'
  recorded_at: Wed, 20 Sep 2017 15:26:19 GMT
- request:
    method: get
    uri: https://my.datacentred.io/api/users/2fcf192f85d342118894698d12ec753c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      X-Api-Version:
      - '1'
      Etag:
      - W/"99a0d95ea92bad583d9da0d6396ea2cd"
    body:
      encoding: UTF-8
      string: '{"user":{"id":"2fcf192f85d342118894698d12ec753c","email":"death2@afterlife.com","first_name":"Foo2","last_name":"Bar","created_at":"2017-09-20T15:26:16Z","updated_at":"2017-09-20T15:26:19Z","links":[{"href":"https://my.datacentred.io/api/users/2fcf192f85d342118894698d12ec753c","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/user","rel":"schema"}]}}'
  recorded_at: Wed, 20 Sep 2017 15:26:19 GMT
recorded_with: VCR 2.9.3
