---
http_interactions:
- request:
    method: post
    uri: https://my.datacentred.io/api/users
    body:
      encoding: UTF-8
      string: '{"user":{"email":"death@afterlife.com","password":"melvin11","first_name":"Foo","last_name":"Bar"}}'
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Api-Version:
      - '1'
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"00819519241a9df321fe488721a328f1"
    body:
      encoding: UTF-8
      string: '{"user":{"id":"80bf74807be84904a1349c5457044f5f","email":"death@afterlife.com","first_name":"Foo","last_name":"Bar","created_at":"2017-09-05T18:41:30Z","updated_at":"2017-09-05T18:41:30Z","links":[{"href":"https://my.datacentred.io/api/users/80bf74807be84904a1349c5457044f5f","rel":"self"},{"href":"https://my.datacentred.io/api/schemas/user","rel":"schema"}]}}'
  recorded_at: Tue, 05 Sep 2017 18:41:31 GMT
- request:
    method: put
    uri: https://my.datacentred.io/api/users/80bf74807be84904a1349c5457044f5f
    body:
      encoding: UTF-8
      string: '{"user":{"first_name":"Foo2"}}'
    headers:
      Authorization:
      - Token token=e9d2d4cd37adf1634e2a65b9e18a8fcb:821fac118e7675f28fa42ab79ace57de
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Version:
      - '1'
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"7aeeed340a7c86e739b9db7a74668d24"
    body:
      encoding: UTF-8
      string: '{"user":{"id":"80bf74807be84904a1349c5457044f5f","email":"death@afterlife.com","first_name":"Foo2","last_name":"Bar","created_at":"2017-09-05T18:41:30Z","updated_at":"2017-09-05T18:41:31Z","links":[{"href":"https://my.datacentred.io/api/users/80bf74807be84904a1349c5457044f5f","rel":"self"},{"href":"https://my.datacentred.io/api/schemas/user","rel":"schema"}]}}'
  recorded_at: Tue, 05 Sep 2017 18:41:31 GMT
recorded_with: VCR 2.8.0
