---
http_interactions:
- request:
    method: post
    uri: https://my.datacentred.io/api/projects
    body:
      encoding: UTF-8
      string: '{"project":{"name":"987ed020233e807a97cbb90b7912965"}}'
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      X-Api-Version:
      - '1'
      Etag:
      - W/"a0acb7adb28d8078fd98afab67710a5d"
    body:
      encoding: UTF-8
      string: '{"project":{"id":"685b097315c34726be7593f590cdd9bf","name":"987ed020233e807a97cbb90b7912965","created_at":"2017-09-20T19:41:15Z","updated_at":"2017-09-20T19:41:15Z","quota_set":{"compute":{"instances":5,"cores":5,"ram":10240},"volume":{"volumes":4,"snapshots":4,"gigabytes":40},"network":{"floatingip":1,"router":1,"security_group_rule":100,"security_group":10,"network":10,"port":10,"subnet":10,"pool":10,"vip":10}},"links":[{"href":"https://my.datacentred.io/api/projects/685b097315c34726be7593f590cdd9bf","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/project","rel":"schema"}]}}'
  recorded_at: Wed, 20 Sep 2017 19:41:16 GMT
- request:
    method: put
    uri: https://my.datacentred.io/api/projects/685b097315c34726be7593f590cdd9bf
    body:
      encoding: UTF-8
      string: '{"project":{"id":"685b097315c34726be7593f590cdd9bf","name":"ed020233e807a97cbb90b79129659e45","created_at":"2017-09-20
        19:41:15 UTC","updated_at":"2017-09-20 19:41:15 UTC","quota_set":{"compute":{"instances":5,"cores":5,"ram":10240},"volume":{"volumes":4,"snapshots":4,"gigabytes":40},"network":{"floatingip":1,"router":1,"security_group[...]
- request:
    method: get
    uri: https://my.datacentred.io/api/projects/685b097315c34726be7593f590cdd9bf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      X-Api-Version:
      - '1'
      Etag:
      - W/"4c0ac6267a692edac5c867f5bc219d6a"
    body:
      encoding: UTF-8
      string: '{"project":{"id":"685b097315c34726be7593f590cdd9bf","name":"ed020233e807a97cbb90b79129659e45","created_at":"2017-09-20T19:41:15Z","updated_at":"2017-09-20T19:41:16Z","quota_set":{"compute":{"instances":5,"cores":5,"ram":10240},"volume":{"volumes":4,"snapshots":4,"gigabytes":40},"network":{"floatingip":1,"router":1,"security_group_rule":100,"security_group":10,"network":10,"port":10,"subnet":10,"pool":10,"vip":10}},"links":[{"href":"https://my.datacentred.io/api/projects/685b097315c34726be7593f590cdd9bf","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/project","rel":"schema"}]}}'
  recorded_at: Wed, 20 Sep 2017 19:41:17 GMT
recorded_with: VCR 2.9.3
