---
http_interactions:
- request:
    method: post
    uri: https://my.datacentred.io/api/roles
    body:
      encoding: UTF-8
      string: '{"role":{"name":"New Role"}}'
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      X-Api-Version:
      - '1'
      Etag:
      - W/"2de7f96ff3f699c90c21356fa51c63e3"
    body:
      encoding: UTF-8
      string: '{"role":{"id":"94595f6e-7b35-4985-aaea-c9cd91711a45","name":"New Role","admin":false,"permissions":[],"created_at":"2017-09-20T10:52:04Z","updated_at":"2017-09-20T10:52:04Z","links":[{"href":"https://my.datacentred.io/api/roles/94595f6e-7b35-4985-aaea-c9cd91711a45","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/role","rel":"schema"}]}}'
  recorded_at: Wed, 20 Sep 2017 10:52:04 GMT
- request:
    method: put
    uri: https://my.datacentred.io/api/roles/94595f6e-7b35-4985-aaea-c9cd91711a45
    body:
      encoding: UTF-8
      string: '{"role":{"id":"94595f6e-7b35-4985-aaea-c9cd91711a45","name":"Administrator
        2","admin":false,"permissions":[],"created_at":"2017-09-20 10:52:04 UTC","updated_at":"2017-09-20
        10:52:04 UTC"}}'
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      X-Api-Version:
      - '1'
      Etag:
      - W/"d65e69cf8198ab2c999c7f305350d54d"
    body:
      encoding: UTF-8
      string: '{"role":{"id":"94595f6e-7b35-4985-aaea-c9cd91711a45","name":"Administrator
        2","admin":false,"permissions":[],"created_at":"2017-09-20T10:52:04Z","updated_at":"2017-09-20T10:52:04Z","links":[{"href":"https://my.datacentred.io/api/roles/94595f6e-7b35-4985-aaea-c9cd91711a45","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/role","rel":"schema"}]}}'
  recorded_at: Wed, 20 Sep 2017 10:52:04 GMT
- request:
    method: get
    uri: https://my.datacentred.io/api/roles/94595f6e-7b35-4985-aaea-c9cd91711a45
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      X-Api-Version:
      - '1'
      Etag:
      - W/"d65e69cf8198ab2c999c7f305350d54d"
    body:
      encoding: UTF-8
      string: '{"role":{"id":"94595f6e-7b35-4985-aaea-c9cd91711a45","name":"Administrator
        2","admin":false,"permissions":[],"created_at":"2017-09-20T10:52:04Z","updated_at":"2017-09-20T10:52:04Z","links":[{"href":"https://my.datacentred.io/api/roles/94595f6e-7b35-4985-aaea-c9cd91711a45","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/role","rel":"schema"}]}}'
  recorded_at: Wed, 20 Sep 2017 10:52:05 GMT
recorded_with: VCR 2.9.3
