---
http_interactions:
- request:
    method: put
    uri: https://my.datacentred.io/api/projects/project_id2
    body:
      encoding: UTF-8
      string: '{"project":{"name":"new_project_name"}}'
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      X-Api-Version:
      - '1'
      Etag:
      - W/"44f59a8c8ff577611c188b9b55637128"
    body:
      encoding: UTF-8
      string: '{"project":{"id":"project_id2","name":"test_new_project_name","created_at":"2017-08-30T13:52:06Z","updated_at":"2017-08-30T13:52:49Z","quota_set":{"compute":{"instances":5,"cores":5,"ram":10240},"volume":{"volumes":4,"snapshots":4,"gigabytes":40},"network":{"floatingip":1,"router":1,"security_group_rule":100,"security_group":10,"network":10,"port":10,"subnet":10,"pool":10,"vip":10}},"links":[{"href":"https://my.datacentred.io/api/projects/project_id2","rel":"self"},{"href":"https://my.datacentred.io/api/schemas/project","rel":"schema"}]}}'
  recorded_at: Wed, 30 Aug 2017 13:52:49 GMT
recorded_with: VCR 2.8.0
