---
http_interactions:
- request:
    method: post
    uri: https://my.datacentred.io/api/users
    body:
      encoding: UTF-8
      string: '{"user":{"email":"death@afterlife2.com"}}'
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Api-Version:
      - '1'
    body:
      encoding: UTF-8
      string: '{"errors":[{"resource":"user","detail":"User password can''t be blank.","field":"password"}],"links":[{"href":"https://my.datacentred.io/api","rel":"help"}]}'
  recorded_at: Wed, 30 Aug 2017 14:45:26 GMT
recorded_with: VCR 2.8.0
