---
http_interactions:
- request:
    method: delete
    uri: https://my.datacentred.io/api/users/my_user_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Api-Version:
      - '1'
    body:
      encoding: UTF-8
      string: '{"errors":[{"detail":"You can''t delete yourself.","resource":"user"}],"links":[{"href":"https://my.datacentred.io/api","rel":"help"}]}'
  recorded_at: Thu, 31 Aug 2017 10:16:29 GMT
recorded_with: VCR 2.8.0
